<h1>Artwork</h1>
<!-- search box -->
<!-- filter -->
<div>
  <div class="flex flex-row justify">
    <div class="border-1 border-round-2xl flex flex-column gap-2 h-auto pb-3 overflow-auto shadow-1 surface-border w-26rem"
      *ngFor="let art of artwork">
      <img [src]="getImageUrl(art.image_id)" alt="{{art.title}}" width="100%" />
      <div class="card-body flex flex-column gap-2 px-2">
        <h2 class="m-0 text-2xl font-bold">{{ art.title }}</h2>
        <p class="m-0 text-sm">{{ art.artist_display }}</p>
        <p class="m-0 right text-200 text-right text-sm">{{ art.artwork_type_title }}</p>
      </div>
    </div>
  </div>
</div>

<!-- list item card -->

<!-- pagination -->
<!-- footer -->
