<div class="p-4">
  <h1>Artwork</h1>
  <!-- search box -->

  <div class="flex flex-row justify-between sticky top-0 surface-ground mb-4 py-2">
    <form
      autocomplete="off"
      [formGroup]="searchForm"
      (ngSubmit)="onSubmit()"
      id="searchForm"
    >
      <div class="flex flex-row gap-2">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input placeholder="Search..." type="text" formControlName="search" pInputText class="border-1 border-round-xl surface-border" />
        </span>
        <p-button class="p-ripple p-element p-button-rounded p-button-success p-button p-component p-button-icon-only"
          type="submit"
          icon="pi pi-search"
          iconPos="right"
        ></p-button>
      </div>
    </form>
  </div>

  <div *ngIf="!(loading$ | async); else loadingTemp">
    <div *ngIf="artwork$ | async as artwork;">
      <div *ngIf="artwork.length === 0">
        No artwork found for "{{ searchForm.value.search }}".
      </div>

      <div *ngIf="artwork.length > 0">
        <div class="flex flex-row flex-wrap gap-3 justify max-w-full pb-3">
          <app-card *ngFor="let art of artwork" [art]="art"></app-card>
        </div>
      </div>

    </div>
  </div>

  <ng-template #loadingTemp>
    <div class="flex flex-row h-6rem justify-content-center max-w-full">
      <p-progressSpinner
        [style.width.px]="20"
        [style.height.px]="20"
        strokeWidth="3"
        animationDuration=".5s"
      ></p-progressSpinner>
    </div>
  </ng-template>

</div>
